body {
	margin: 0;
	padding: 0;
	font-family: "Karla";
	font-size: 16px;
	color: hsl(204, 43%, 93%);
	background-color: hsl(218, 22%, 67%);
}
body p {
	font-weight: 400;
}
.container {
	width: 44vw;
	height: 58vh;
	display: flex;
	margin: auto;
	flex-direction: column;
	margin-top: 10%;
}
.wrap-two-row {
	display: inline-flex;
	flex-direction: row;
}
.join-div {
	background-color: hsl(204, 43%, 93%);
	color: hsl(218, 22%, 67%);
	width: 44vw;
	height: 28vh;
	text-align: left;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}
.monthly-div {
	background-color: hsl(179, 62%, 43%);
	width: 22vw;
	height: 30vh;
	border-bottom-left-radius: 12px;
}
.whyus-div {
	background-color: hsl(179, 62%, 43%, 0.4);
	width: 22vw;
	height: 30vh;
	text-align: left;
	line-height: 25px;
	border-bottom-right-radius: 12px;
	box-sizing: border-box;
}
#join-div-content {
	text-align: left;
	box-sizing: border-box;
	padding-left: 50px;
	padding-top: 30px;
}
#monthly-div-content {
	text-align: left;
	margin: auto;
	box-sizing: border-box;
	padding-left: 50px;
	padding-top: 10px;
}
#whyus-content {
	text-align: left;
	margin: auto;
	box-sizing: border-box;
	padding-left: 50px;
	padding-top: 10px;
}
#join {
	color: hsl(179, 62%, 43%);
}
#thirty {
	color: hsl(71, 73%, 54%);
}

button {
	background-color: hsl(71, 73%, 54%);
	color: hsl(204, 43%, 93%);
	width: 13vw;
	height: 5vh;
	border-radius: 10px;
	text-align: center;
	font-weight: 700;
	border-color: transparent;
}
#dollars {
	display: inline;
}
#per {
	margin: 0 0 5px 5px;
	display: inline;
	color: hsl(218, 22%, 67%);
}
footer {
	text-align: center;
	font-size: 11px;
}
footer a {
	color: hsl(228, 45%, 44%);
}

/* iphone */
@media only screen and (max-width: 1366px) and (min-width: 360px) {
	.container {
		display: flex;
		flex-direction: column;
		width: 85%;
		height: 95%;
	}
	.wrap-two-row {
		display: inline-flex;
		flex-direction: column;
	}
	.join-div {
		width: 100%;
		height: 25%;
		margin: auto;
		position: relative;
	}
	.join-div h1 {
		font-size: 22px;
		padding-bottom: 10px;
	}
	.join-div h2 {
		font-size: 18px;
		padding-bottom: 5px;
	}
	.monthly-div {
		width: 100%;
		height: 30%;
		border-bottom-left-radius: 0;
	}
	.monthly-div h2 {
		font-size: 18px;
	}

	.whyus-div {
		width: 100%;
		height: 30%;
		border-bottom-left-radius: 12px;
		border-bottom-right-radius: 12px;
	}

	button {
		width: 80%;
	}
	#join-div-content {
		position: relative;
		box-sizing: border-box;
		margin: auto;
		padding-left: 20px;
		line-height: 20px;
		text-align: left;
		padding-right: 10px;
	}
	#monthly-div-content {
		position: relative;
		box-sizing: border-box;
		margin: auto;
		padding-left: 20px;
		padding-bottom: 15px;
	}

	#whyus-content {
		position: relative;
		box-sizing: border-box;
		margin: auto;
		padding-left: 20px;
	}
}

/* landscape mode iphone button  */
@media only screen and (width: 812px) and (min-height: 375px) {
	button {
		height: 45px;
		width: 250px;
	}
}
